<?xml version="1.0" ?>
<config>
    <modules>
        <MageProfis_SUPEE9767>
            <version>1.0.0.0</version>
        </MageProfis_SUPEE9767>
    </modules>

    <global>

        <helpers>
            <mpsupee9767>
                <class>MageProfis_SUPEE9767_Helper</class>
            </mpsupee9767>
        </helpers>
        <blocks>
            <mpsupee9767>
                <class>MageProfis_SUPEE9767_Block</class>
            </mpsupee9767>
        </blocks>
        <models>
            <mpsupee9767>
                <class>MageProfis_SUPEE9767_Model</class>
            </mpsupee9767>
        </models>

        <resources>
            <mpsupee9767_setup>
                <setup>
                    <module>MageProfis_SUPEE9767</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mpsupee9767_setup>
        </resources>

        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <mpsupee9767>
                        <class>mpsupee9767/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </mpsupee9767>
                </observers>
            </core_block_abstract_to_html_before>
        </events>

    </global>

    <adminhtml>
        <layout>
            <updates>
                <mp_supee9767>
                    <file>mp_supee9767.xml</file>
                </mp_supee9767>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
                <allow_only_template_files>1</allow_only_template_files>
            </template>
        </dev>
    </default>
</config>
